label{
   display: inline-block;
   padding-right: 5px;
}
 div{
     align-items: initial;
     text-align: left;

 }
h1{
    display: inline-block;
    vertical-align: top;
    margin-left: 23%;
    margin-right:auto;
    margin-top:10px
}
input{
    text-align-last: left;
}
.button{
    margin-left:1%;
}