ul{
list-style-type: none;
}
li{
    padding:10px;
}
p{
    text-align: left;
}
h2{
    margin-left: 22%;
    margin-top:5%;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin-top:1%;
}
.header{
    border-bottom:1px solid gray;
    padding:20px
}
.about{
    margin-top:30%;
    font-size:12px;
}