.cancel-button{

    background-color: red !important;
    padding-top:0 !important;
    border:none !important;
    padding-top: 2% !important;
}
.edit-profile-photo{
    margin-left:40%;
    margin-right:auto;
    border: 2px solid green;
    width:150px;
    height: 150px;
}
.button{
    margin-left:1% !important;
    padding-top:5px !important;
 
}
h2{
    margin-left: 35%;
}
.notify{
    z-index:6;
}

a{
    color:white ;
}